<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <!-- /col-lg-4 -->
            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="https://twitter.com/laconicluna">Twitter</a>
                    <br>
                    <a href="https://www.youtube.com/@LaconicLuna">Youtube</a>
                    <br>
                    <a href="https://github.com/LaconicLuna">GitHub</a>
                    <br>
                    <a href="https://discord.com/users/560947118051950622">Discord</a>
                    <br>
                </p>
            </div>
        </div>
        <p>Updated 10/28/2024</p>
    </div>
</div>
